extends ../layouts/default

block content
	.container: .jumbotron
		h1 bookkeep
		p Get used books delivered to your house for just the cost of the delivery
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Admin
		div#estimate
		input(
			id='pickup'
			type='text'
			name='pickup'
			placeholder='Pickup Location'
		)
		input(
			id='dropoff'
			type='text'
			name='dropoff'
			placeholder='Dropoff Location'
		)
		button(
			id='check_delivery'
			name='check_delivery'
		) Check Delivery
		div#result
